<%- include('./head_v1') %>
  <main class="mx-5 px-5">
    <div class="p-5 mx-5">
      <table class="table bg-white">
        <thead class="bg-light">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>


          <% users.forEach(user=> { %>
            <tr>
                <%- include('./partial/table_row', {content: user.id}) %>
                <%- include('./partial/table_row', {content: user.name}) %>
                <%- include('./partial/table_row', {content: user.surname}) %>
                <%- include('./partial/table_row', {content: user.email}) %>
                <%- include('./partial/table_row', {content: user.phoneNumber}) %>
                <%- include('./partial/table_row', {content: user.city}) %>
                <% let ref='/admin/user/' + user.id %>
                <td>
                  <a href="<%=ref %>" class="btn btn-sm btn-outline-primary px-4">More</a>
                </td>
            </tr>
            <% }) %>

        </tbody>
      </table>
    </div>

  </main>
  <%- include('./footer') %>