<%- include('./head_v1') %>
  <main>
    <section class="h-100">
      <div class="container py-1">
        <div class="row d-flex justify-content-center my-4">
          <!-- Left Panel -->
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-header py-3">
                <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  <h5>Order</h5>
                  <% let status=order.Status %>
                    <%if (status==0 ) { %>
                      <span class="badge bg-warning text-dark">Pending</span>
                      <% } else if (status==1 ) { %>
                        <span class="badge bg-success">Done</span>
                        <% } %>
                </div>
              </div>
              <div class="card-body">
                <% products.forEach(product=> { %>
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <% let photoPath='/laptom_img/' + product.Photo_Path + ".webp" %>
                          <img src="<%=photoPath %>" class="w-100" alt="laptop" />
                          <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                          </a>
                      </div>

                    </div>

                    <div class="col-lg-5 col-md-6 py-5">

                      <p><strong>
                          <%= product.Name %>
                        </strong></p>

                    </div>

                    <div class="col-lg-4 col-md-6 position-relative">

                      <p class="position-absolute bottom-0 end-0 py-5 px-5">
                        <strong>
                          $<%= product.Price %>
                        </strong>
                      </p>

                    </div>
                  </div>

                  <hr class="my-4" />

                  <% }) %>

                    <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        <strong>
                          <p class="mb-0">(including VAT)</p>
                        </strong>
                      </div>
                      <span><strong>
                          $<%= totalAmount %>
                        </strong></span>
                    </div>

              </div>
            </div>
          </div>
          <!-- Left Panel -->

          <!-- Right Panel -->
          <div class="col-md-6">
            <!-- Action Panel -->
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Action</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item d-flex justify-content-center  px-0">
                    <button type="button" class="btn btn-lg btn-outline-warning px-4">Change status</button>
                  </li>
                  <li class="list-group-item d-flex justify-content-center  px-0">
                    <button type="button" class="btn btn-lg btn-outline-info px-4">Contact client</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Action Panel -->

            <!-- CLient Data Panel -->
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Client data</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">

                  <% let userName=user.Name + " " + user.Surname %>
                    <%- include('./partial/user_info_li', {info: "Name" , content: userName}) %>
                      <%- include('./partial/user_info_li', {info: "Email" , content: user.Email}) %>
                        <%- include('./partial/user_info_li', {info: "Phone" , content: user.Phone_number}) %>
                          <%- include('./partial/user_info_li', {info: "Phone" , content: user.Birthday.toDateString()})
                            %>
                            <% let gender=user.Gender==1 ? "Male" : "Female" %>
                              <%- include('./partial/user_info_li', {info: "Gender" , content: gender}) %>
                                <%- include('./partial/user_info_li', {info: "Street and number" , content:
                                  user.Street}) %>
                                  <%- include('./partial/user_info_li', {info: "City" , content: user.City}) %>
                                    <%- include('./partial/user_info_li', {info: "Zio-Code" , content:
                                      user.Postal_Code}) %>
                                      <%- include('./partial/user_info_li', {info: "Country" , content: user.Country})
                                        %>
                                        <%- include('./partial/user_info_li', {info: "Total amount" , content: "$" +
                                          totalAmount}) %>
                </ul>
              </div>
            </div>
            <!-- CLient Data Panel -->
          </div>
          <!-- Right Panel -->
        </div>
      </div>
    </section>


  </main>
  <%- include('./footer') %>