<%- include('./head_v1') %>
  <main>
    <div class="p-5">
      <table class="table bg-white">
        <thead class="bg-light">
          <tr>
            <th>Order number</th>
            <th>Name</th>
            <th>Date</th>
            <th>Items</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>


          <% orders.forEach(order=> { %>
            <tr>
              <%- include('./partial/table_row', {content: order.ID}) %>
                <%- include('./partial/table_row', {content: order.username}) %>
                  <%- include('./partial/table_row', {content: order.OrderPlacementDate.toUTCString()}) %>

                    <td>
                      <span class="badge rounded-pill bg-primary">
                        <%= order.Products.length %>
                      </span>
                    </td>
                    <% let status=order.Status %>
                      <% if (status==0 ) { %>
                        <td>
                          <span class="badge bg-warning text-dark">Pending</span>
                        </td>
                        <% } else { %>
                          <td>
                            <span class="badge bg-success">Done</span>
                          </td>
                          <% } %>
                            <td>
                              <% let ref='/admin/orders/' + order.ID %>
                                <a href="<%=ref %>" class="btn btn-sm btn-outline-primary px-4">Go</a>
                            </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

  </main>
  <%- include('./footer') %>