<%- include('./head_v1') %>
    <main>
        <div class="d-flex justify-content-center my-5 sticky-top bg-white py-4">
            <h4 class="mx-4">Action: </h4>
            <a href="/admin/products/edit/<%= product.ID %>" class="btn btn-outline-success w-25 mx-1 btn-lg mx-4"> Edit </a>
            <button type="button" class="btn btn-outline-danger w-25 mx-1 btn-lg" name="delete-btn-<%= product.ID %>"> Delete </button>
            <script>
                var btn = document.getElementsByName("delete-btn-<%= product.ID %>")[0];
                btn.addEventListener('click', function() {
                    var result = confirm("Want to delete?");
                    if (result) {
                        window.location.href = "/admin/products/delete/<%= product.ID %>";
                    }
                });
            </script>
        </div>
        <hr class="mx-5" />
        <div class="one_item_top">
            <div>
                <% let photoPath='/laptop_img/' + product.Photo_Path + ".webp" %>
                    <img src="<%= photoPath %>" class="rounded" alt="laptop">
            </div>
            <div class="one_item_card">
                <div class="one_item_name pt-5">
                    <h2>
                        <%= product.Name %>
                    </h2>
                </div>
                <div class="card border-light mb-5 one_item_card_components" style="max-width: 18rem;">
                    <div class="card-header">Components</div>
                    <div class="card-body text-primary">
                        <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
                            <li>
                                CPU: <%= product.CPU %>
                            </li>
                            <li>
                                Memory: <%= product.Memory %>
                            </li>
                            <li>
                                Graphics: <%= product.Graphics %>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>

                <div class="card border-secondary mb-5 one_item_buy_card text-center" style="max-width: 18rem;">
                    <div class="card-body text-secondary">
                        <h3 class="mt-2 mb-0 card-title text-dark">$<%= product.Price %>
                        </h3>
                        <form class="form-inline">
                            <select class="custom-select mb-1" id="inlineFormCustomSelectPref">

                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>


                            <button type="submit" class="btn px-5 mx-2 my-5 btn-outline-success btn-lg">Buy</button>
                        </form>
                        <div class="text-muted">

                            Due to the rules of the store, a maximum of 5 laptops can be purchased.
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="one_item_more_info">
            <h4>More info</h4>
            <p>
                <%= product.Details %>
            </p>


        </div>


    </main>
    <%- include('./footer') %>