<%- include('./head_v1') %>
    <main>
        <div class="container py-1">
            <div class="row d-flex justify-content-center my-5">
                <div class="col-md-4">
                    <div class="card ">
                        <img src="/one_user.jpg" class="card-img-top rounded mx-auto d-block" alt="user_img"
                            style="width: 30%;">
                        <div class="card-body">
                            <h5 class="card-title">User data</h5>

                            <ul class="list-group list-group-flush">
                                <% let userName=user.Name + " " + user.Surname %>
                                    <%- include('./partial/user_info_li', {info: "Id" , content: user.ID}) %>
                                        <%- include('./partial/user_info_li', {info: "Name and surname" , content:
                                            userName}) %>
                                            <%- include('./partial/user_info_li', {info: "Email" , content: user.Email})
                                                %>
                                                <%- include('./partial/user_info_li', {info: "Phone" , content:
                                                    user.Phone_number}) %>
                                                    <%- include('./partial/user_info_li', {info: "Birthday" , content:
                                                        user.Birthday.toDateString()}) %>
                                                        <% let gender=user.Gender==1 ? "Male" : "Female" %>
                                                            <%- include('./partial/user_info_li', {info: "Gender" ,
                                                                content: gender}) %>
                                                                <%- include('./partial/user_info_li',
                                                                    {info: "Street and number" , content: user.Street})
                                                                    %>
                                                                    <%- include('./partial/user_info_li', {info: "City"
                                                                        , content: user.City}) %>
                                                                        <%- include('./partial/user_info_li',
                                                                            {info: "Zip-Code" , content:
                                                                            user.Postal_Code}) %>
                                                                            <%- include('./partial/user_info_li',
                                                                                {info: "Country" , content:
                                                                                user.Country}) %>

                            </ul>
                        </div>
                    </div>
                </div>




                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">History</h5>
                        </div>

                        <div class="card-body">
                            <!-- Order -->
                            <% orders.forEach(order=> { %>
                                <div>
                                    <h4>Order number: <%= order.ID %>
                                    </h4>
                                    <p><strong>Order date: <%= order.OrderPlacementDate.toUTCString() %></strong></p>
                                    <% order.Products.forEach(product=> { %>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                    data-mdb-ripple-color="light">
                                                    <% let photoPath='/laptop_img/' + product.Photo_Path + ".webp" %>
                                                        <img src="<%= photoPath %>" class="w-100" alt="laptop" />
                                                        <a href="#!">
                                                            <div class="mask"
                                                                style="background-color: rgba(251, 251, 251, 0.2)">
                                                            </div>
                                                        </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6 py-5">
                                                <p><strong>
                                                        <%= product.Name %>
                                                    </strong></p>
                                            </div>
                                        </div>
                                        <% }); %>

                                </div>
                                <p class="text-center">
                                    <strong>$<%= order.totalPrice %></strong>
                                </p>
                                <hr class="my-4" />
                                <% }); %>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>




    </main>
    <%- include('./footer') %>