<%- include('./navbar_v2') %>
    <main>
        <section class="h-100 gradient-custom">
            <div class="container py-5">
                <div class="row mx-5">
                    <h3>My Account</h3>
                </div>
                <div class="row d-flex justify-content-center my-4">

                    <%- include('account_options', {active: 2}) %>

                        <div class="col-md-8">
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <h5 class="mb-0">History</h5>
                                </div>
                                <div class="card-body">

                                    <% orders.forEach(order=> { %>
                                        <!-- Order -->
                                        <div>
                                            <h4>Order number: <%= order.ID %>
                                            </h4>
                                            <p><strong>Order date: <%= order.OrderPlacementDate.toJSON().slice(0,10) %>
                                                        </strong></p>
                                            <% order.Products.forEach(product=> { %>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                                        <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                            data-mdb-ripple-color="light">
                                                            <img src="/laptop_ex.webp" class="w-100" alt="laptop" />
                                                                <a href="#!">
                                                                    <div class="mask"
                                                                        style="background-color: rgba(251, 251, 251, 0.2)">
                                                                    </div>
                                                                </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-md-6 py-5">
                                                        <p><strong>
                                                                <%= product.Name %>
                                                            </strong></p>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                        <p class="text-center">
                                            <strong>$<%= order.totalPrice %></strong>
                                        </p>
                                        <hr class="my-4" />
                                        <!-- Order -->
                                        <% }); %>


                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main>
<%- include('./footer') %>