<% if ( locals.logged ) { %>
    <%- include('./navbar_v1') %>
  <% } else{ %>
    <%- include('./navbar_v3') %>
  <% }%>

<div id="frontinfo"></div>
<main>
    <div class="one_item_top">
        <div>
            <img src="/laptop_img/<%= product.Photo_Path %>" class="rounded" alt="laptop">
        </div>
        <div class="one_item_card">
            <div class="one_item_name pt-5">
                <h2>
                    <%= product.Name %>
                </h2>
            </div>
            <div class="card border-light mb-5 one_item_card_components" style="max-width: 18rem;">
                <div class="card-header">Components</div>
                <div class="card-body text-primary">
                    <ul class="text-muted p-0" style="list-style-type: none; font-size: 0.8rem;">
                        <li>
                            CPU: <%= product.CPU %>
                        </li>
                        <li>
                            Memory: <%= product.Memory %>
                        </li>
                        <li>
                            Graphics: <%= product.Graphics %>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>

            <div class="card border-secondary mb-5 one_item_buy_card text-center" style="max-width: 18rem;">
                <div class="card-body text-secondary">
                    <h3 class="mt-2 mb-0 card-title text-dark">$<%= product.Price %>
                    </h3>
                    <form class="form-inline">
                        <select class="custom-select mb-1" id="inlineFormCustomSelectPref">

                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit" id="buy-btn" class="btn px-5 mx-2 my-5 btn-outline-success btn-lg" value="1">Buy</button>

                    </form>
                    <div class="text-muted">

                        Due to the rules of the store, a maximum of 5 laptops can be purchased.
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="one_item_more_info">
        <h4>More info</h4>
        <p>
            <%= product.Details %>
        </p>
    </div>
  
</main>
<script type="text/javascript" src="/js/one_item_scripts.js"></script>
<%- include('./footer') %>